<div class="row">

    <div class="form-group col-md-4">


        <label class="control-label">First Name</label>
        <input type="text" class="form-control" name="rn" id="fname" ng-model="fname"/>

        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" name="rn" id="lname" ng-model="lname"/>


    </div>

</div>


<div class="row">

    <div class="form-group col-md-4">

        <button type="button" class="btn btn-default" ng-click="addStudent()">
            <span>Submit</span>
        </button>
        <button type="button" class="btn btn-default" ng-click="fname = null;  lname = null" >
            <span>Clear</span>
        </button>


    </div>

</div>
